

body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;

}

.cartas{
    border-radius: 10px;
    border-color: #343A40;
    border-style: solid;
    border-width: 5px;
    
    
}


/* styles.css */
/* styles.css */
.form-row-custom {
    background-color: #f1f3f5; /* Fondo suave para la fila */
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-row-custom .form-group {
    margin-bottom: 0; /* Elimina el margen inferior de los grupos de formularios */
}

.form-row-custom label {
    font-weight: bold;
    color: #495057; /* Color de las etiquetas */
    margin-bottom: 5px;
    display: block;
}

.form-row-custom .form-control {
    border: 1px solid #ced4da; /* Borde del campo de formulario */
    border-radius: 4px;
    padding: 10px;
    transition: border-color 0.3s ease;
}

.form-row-custom .form-control:focus {
    border-color: #80bdff; /* Color del borde al hacer foco */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra azul al enfocar */
}

.form-row-custom .form-group.col-md-6 {
    padding-right: 10px;
    padding-left: 10px;
}