{% extends 'base.html' %}

{% block title %}
ARRRENDATARIOS | Page
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Perfil de los Arrendatarios</h2>
                </div>
                <div class="card-body">
                    {% if arrendatarios %}
                        {% for arrendatario in arrendatarios %}
                            <div class="mb-4">
                                <p class="lead"><strong>Nombre:</strong> {{ arrendatario.nombre }} {{ arrendatario.apellido }}</p>
                                <p class="lead"><strong>Email:</strong> {{ arrendatario.correo_electronico }}</p>
                                <p class="lead"><strong>Teléfono:</strong> {{ arrendatario.telefono_personal }}</p>
                                <p class="lead"><strong>Dirección:</strong> {{ arrendatario.direccion }}</p>
                                <hr>
                            </div>
                        {% empty %}
                            <p>No hay arrendatarios disponibles.</p>
                        {% endfor %}
                    {% else %}
                        <p>No hay arrendatarios disponibles.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
