{% extends 'base.html' %}

{% block title %}
ARRRENDATARIOS | Page
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Perfil de los Arrendatarios</h2>
                </div>
                <div class="card-body">
                    {% if inmuebles %}
                        {% for inmueble in inmuebles %}
                            <div class="mb-4">
                                <p class="lead"><strong>Nombre:</strong> {{ inmueble.nombre }} {{ inmueble.descripcion }}</p>
                                <p class="lead"><strong>M2 construidos:</strong> {{ inmueble.ms_construido }}</p>
                                <p class="lead"><strong>Estacionamiento:</strong> {{ inmueble.nro_estacionamiento }}</p>
                                <p class="lead"><strong>Habitación:</strong> {{ inmueble.nro_habitacion }}</p>
                                <hr>
                            </div>
                        {% empty %}
                            <p>No hay perfil disponibles.</p>
                        {% endfor %}
                    {% else %}
                        <p>No hay perfil disponibles.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
