{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Perfil del Arrendador</h2>
                </div>
                <div class="card-body">
                    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
                    <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
                    <p><strong>Correo electrónico:</strong> {{ usuario.correo_electronico }}</p>

                    <h3 class="mt-4">Mis Inmuebles</h3>
                    <ul class="list-group">
                        {% for inmueble in inmuebles %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ inmueble.nombre }}
                                <span class="badge badge-primary badge-pill">{{ inmueble.precio_mensual_arriendo }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
