{% load static %}
<!doctype html>
<html lang="es">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>

<body>
    <!-- Barra de navegación de Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">Portal Inmobiliario</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'perfil_arrendador' %}">Arrendador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'perfil_arrendatario' %}">Arrendatario</a>
                    </li>
                    <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                        {% csrf_token %}
                        <button type="submit">Cerrar Sesión</button>
                    </form>
                    <a class="nav-link" href="#" onclick="document.getElementById('logout-form').submit();">Cerrar Sesión</a>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Listado de Usuarios</h1>

        <div class="display-flex">
            {% if user.is_authenticated %}
            <a href="{% url 'crear_usuario' %}" class="btn btn-primary mt-4">Crear Usuario</a>
            <a href="{% url 'crear_inmueble' %}" class="btn btn-primary mt-4">Crear Inmueble</a>
            {% else %}
            <p>Para crear arrendador y arrendatario, debe iniciar sesión.</p>
            {% endif %}
        </div>
        <br>
        <div class="row">
            {% for usuario in usuarios %}
            <div class="col-md-4 mb-4">
                <div class="card cartas">
                    <div class="card-body">
                        <h5 class="card-title">{{ usuario.nombre }} {{ usuario.apellido }}</h5>
                        <p class="card-text"><strong>RUT:</strong> {{ usuario.rut }}</p>
                        <p class="card-text"><strong>Correo electrónico:</strong> {{ usuario.correo_electronico }}</p>
                        <p class="card-text"><strong>Teléfono:</strong> {{ usuario.telefono_personal }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No hay usuarios disponibles.</p>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

    <footer class="bg-dark text-white text-center py-3 mt-4">
        {% block footer %}
        <div class="container">
            <p class="mb-0">&copy; 2024 Portal Inmobiliario. Todos los derechos reservados.</p>
            <p>
                <a href="#" class="text-white">Política de privacidad</a> |
                <a href="#" class="text-white">Términos de servicio</a> |
                <a href="#" class="text-white">Create by David V</a>
            </p>
        </div>
        {% endblock %}
    </footer>

    <!-- Enlace a Bootstrap JS y dependencias (jQuery y Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
